{erl_opts, [debug_info, {parse_transform, lager_transform}, {lager_truncation_size, 16384}, {lager_extra_sinks, [audit]}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/erlang-lager/lager.git", {tag, "3.6.1"}}},
        {erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git", {tag, "v1.4.0"}}}

       ]}.
                             
{ct_extra_params, "-spec test/test_specs.spec"}.
